@font-face {
    font-family: "DancingScript";
    src: url("./../fonts/dancing-script-regular.otf") format("opentype");
}

.dancing-script, .myClass{
    font-family: "DancingScript", Times, sans-serif !important;
}

@import 'components/breadcrumb';
@import 'components/group-item';
@import 'components/sidebar';
@import 'components/table';
@import 'portlet/portlet';

body {
	.user-avatar-link {
		position: relative;

		.panel-notifications-count {
			margin: 0;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}
	}
}

#wrapper {
	padding: 0;

	.portlet-layout {
		margin: 0;

		.portlet-column {
			padding: 0;
		}

		.portlet-body .container-fluid-max-xl {
			max-width: map-get($container-max-widths, xl);
			position: relative;

			.custom-control:not(.custom-checkbox) {
				margin-bottom: 8px;
			}
		}
	}

	.main-content-nav {
		margin-left: $grid-gutter-width * -0.5;
		margin-top: 20px;
	}
}

.card-page-item-asset {
	min-width: 193px;
}

@font-face {
    font-family: "MyCustomFont";
    src: url("./../fonts/dancing-script-regular.otf") format("opentype");
}

.myClass, .cursive, .dancing-script{
	font-family: "MyCustomFont", Arial, sans-serif !important;
}




