.autores-container{
    background-color: var(--background-purple,#e3d7eb);
    .title{
        background-color: var(--primary-purple,#4b0082);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: var(--white,#ffffff);
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 15px;
        padding-left: 10px;
    }
    .nav-pills{
        .nav-item{
            margin-right: 15px;
            &:last-child{
                margin-right: 0px;
            }
            .nav-link{
                background-color: transparent;
                color: var(--black,#000000);
                font-size: 1.25rem;
                font-weight: 500;
                padding: 0px;
                text-decoration: none;
                &.active{
                    text-decoration: underline;
                    text-decoration-color: var(--primary-purple,#4b0082);
                    text-decoration-thickness: 2px;
                    text-underline-offset: 4px;
                }
            }
        }
    }
    ul{
        padding-left: 0px;
        list-style: none;
        li{
            margin-bottom: 5px;
            &.letter{
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-top: 10px;
                margin-bottom: 0px;
                text-transform: uppercase;
            }
            &.autor, &.nacionalidad{
                font-size: 1.25rem;
                text-transform: capitalize;
            }
        }
        a{
            .autor, .nacionalidad{
                color: var(--black,#000000);
                text-decoration: none;
                &:hover{
                    color: var(--primary-purple,#4b0082);
                    font-weight: 900;
                    text-decoration: underline;
                }
            }

        }
    }
    @media (max-width: 767px) {
        .fixed-phone-autor{
            display: none;
        }
    }
}

.fixed-phone-autor{
    align-items: center;
    background: var(--primary-purple,#4b0082)!important;
    border-radius: 50%;
    color: var(--white,#ffffff);
    font-family: cursive;
    font-size: 2rem;
    display: none;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 10px;
    top: 100px;
    width: 50px;
    z-index: 1000;
    &:hover{
        text-decoration: none;
    }
    @media (max-width: 991px) {
        display: block;
    }
}


@media (max-width: 991px) {
    .fixed-phone-autor{
        display: flex;
    }
    .autores-container{
        display: none;
        &.show{
            display: block;
            height: 100vh;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: 999;
        }
    }

}