
:root{
    --primary-color: #684076;
    --alpha-purple: rgba(107, 41, 128, 0.95);
    --alpha-purple-transparent: rgba(107, 41, 128, 0);
    --primary-purple: rgb(107, 41, 128);
    --secondary-purple: rgb(104, 64, 118);
    --alpha-secondary-purple: rgba(104, 64, 118, 0.95);
    --background-purple: #e3d7eb;
    --background-contact: rgb(177, 158, 212);
    --white: #ffffff;
    --black: #000000;
    --default-shadow-color: #000000;
    --default-shadow-opacity: 0.3;
}
