
root{
    --alpha-purple: rgba(75, 0, 130, 0.95);
    --alpha-purple-transparent: rgba(75, 0, 130, 0);
    --primary-purple: rgb(75, 0, 130);
    --secondary-purple: rgb(138, 43, 226);
    --alpha-secondary-purple: rgba(138, 43, 226, 0.95);
    --background-purple: #e3d7eb;
    --white: #ffffff;
    --black: #000000;
    --default-shadow-color: #000000;
    --default-shadow-opacity: 0.3;
}
