@import "fonts";
@import "colors";
.zapatania-container{
    @import "banner";
    @import "card";
    @import "header";
    @import "layoutTwo";
    @import "lfr";
    @import "text_titles";
    @import "footer";
    @import "owl_principal";
    @import "owl_section";
}