@import "fonts";
@import "colors";
@import "search";
.zapatania-container{
    @import "autor_card";
    @import "banner";
    @import "card";
    @import "comments";
    @import "contacto";
    @import "header";
    @import "layoutTwo";
    @import "lfr";
    @import "text_titles";
    @import "footer";
    @import "owl_principal";
    @import "owl_section";
    @import "autors";
    @import "seleccion";
    @import "search_page";
}

.cke_editable{
    background-color: var(--white, #ffffff)!important;
    &:focus{
        background-color: var(--white, #ffffff)!important;
    }
}
