@font-face {
    font-family: "DancingScript";
    src: url("./../fonts/dancing-script-regular.otf") format("opentype");
}

@font-face {
    font-family: "TimesNewRoman";
    src: url("./../fonts/times-new-roman.ttf") format("truetype");
}

body{
    font-family: 'TimesNewRoman', Times, serif;
    font-size: 16px;
    overflow-x: hidden;
}

.dancing-script, .myClass, .cursive{
	font-family: "DancingScript", Arial, sans-serif;
}

.text-title{
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 2rem;
}

.text-subtitle{
    letter-spacing: 2px;
}

h5{
    &.text-subtitle{
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1.25rem;
    }
}

