.tribuna-dz{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    .col-3{
        padding-right: 0!important;
    }
    .col-9 {
        padding-left: 5%!important;
        padding-right: 5%!important;
    }
    .bkg-purple{
        background-color: var(--background-purple,#e3d7eb);
    }
}

@media (max-width: 991px) {
    .tribuna-dz{
        > .col-md-3{
            width: 100%!important;
            max-width: 100%!important;
        }
        > .col-md-9 {
            width: 100%!important;
            max-width: 100%!important;
        }
    }
}