body{
    overflow-x: hidden;
}

.portlet-decorate{
    .portlet{
        margin-bottom: 0;
    }
    .portlet-content{
        border: none;
        padding: 0;
    }
}

.greca-bkg{
    background-image: url("./../images/footer-greca.png");
    background-position: -30px 0;
    background-repeat: repeat;
    background-size: contain;
    height: 40px;
    width: 100%;
}

.justify-content-inline-flex{
    justify-content: inline-flex;
}