body{
    overflow-x: hidden;
}

.portlet-decorate{
    .portlet{
        margin-bottom: 0;
    }
    .portlet-content{
        border: none;
        padding: 0;
    }
}

.greca-bkg{
    background-image: url("./../images/footer-greca.png");
    background-position: -30px 0;
    background-repeat: repeat;
    background-size: contain;
    height: 40px;
    width: 100%;
}

.justify-content-inline-flex{
    justify-content: inline-flex;
}

@media (max-width: 991px) {
    .navbar-expand-md .navbar-toggler{
        &.collapsed{
            display: block!important;
        }
        &:not(.collapsed){
            border: none;
            box-shadow: none;
            display: block!important;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 110;
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cline x1='8' y1='8' x2='22' y2='22' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3e%3cline x1='22' y1='8' x2='8' y2='22' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e");
            }
 
        }
    }
    .navbar-expand-md .navbar-collapse {
        display: none!important;
        &.show{
            background: var(--alpha-purple, rgba(75, 0, 130, 0.95));
            color: var(--white, #ffffff);
            display: block !important;
            left: 0;
            min-height: 100vh;
            max-height: 100vh;
            overflow-y: auto;
            padding-top: 70px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            li{
                a{
                    color: var(--white, #ffffff);
                }
            }
            dropdown-menu show{
                min-width: 300px;
                search-bar-keywords-input{
                    width: 250px;
                }
            }
        }
    }
}
