.portlet-decorate{
    .portlet-content{
        padding: 0;
    }
}

.greca-bkg{
    background-image: url("./../images/footer-greca.png");
    background-size: contain;
    background-repeat: repeat;
    height: 40px;
    width: 100%;
}