.owl-related-carrusel{
    &.owl-carousel{
        background-color: var(--alpha-purple, rgba(107, 41, 128, 0.95));
        border-radius: 30px;
        margin: auto;
        padding: 30px 0px;
        width: 90%;
        .owl-dots{
            display: none;
        }
        .owl-item{
            padding: 0px 20px;
            img{
                border-radius: 40px;
                display: block;
                height: 200px;
                object-fit: cover;
                width: 100%;
            }
            h4{
                font-size: 1.25rem;
                font-weight: 700;
                color: var(--black, #000000);
            }
            p{
                color: var(--black, #000000);
                font-size: 1rem;
                font-weight: 400;
                max-height: 50px;
                overflow: hidden;
            }
        }
        .owl-nav{
            position: absolute;
            top: 10px;
            transform: translateY(-50%);
            width: 100%;
            .owl-principal-left{
                background-color: transparent;
                background-image: url('../images/owl/arrow-left.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 138px;
                position: absolute;
                left: -75px;
                width: 38px;
            }
            .owl-principal-right{
                background-color: transparent;
                background-image: url('../images/owl/arrow-right.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 138px;
                position: absolute;
                right: -75px;
                width: 38px;
            }
        }
    } 
}