.section-container{
    background-color: var(--white, #ffffff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        .autor-card{
            height: 400px;
            max-height: 400px;
            margin-bottom: 20px;
            padding: 20px;
            .autor-card-content{
                color: var(--white, #ffffff);
                img{
                    border-radius: 20px;
                    height: 200px;
                    max-height: 200px;
                    object-fit: cover;
                    width: 100%;
                }
                .autor-card-title{
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .autor-card-subtitle{
                    font-size: 1rem;
                    font-weight: 400;
                    max-height: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: wrap;
                }
            }

        }
    }

    .purple-bkg{
        background-color: var(--alpha-purple, rgba(107, 41, 128, 0.95));
        color: var(--white, #ffffff);
        margin-bottom: 40px;
        &:nth-child(3n-2) {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &:nth-child(3n){
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        &:last-child{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        @media (max-width: 999px) {
            & {
                margin-bottom: 24px;
                &:nth-child(2n-1){
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                &:nth-child(2n){
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
                &:last-child{
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
        @media (max-width: 767px) {
            & {
                border-radius: 20px !important;
            }
        }

    }

}