.selection-container{
    margin-top: 20px;
    .selection-row{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        width: 100%;
        .selection-item{
            width: 23%;
            .selection-image{
                border-radius: 30px;
                height: 150px;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}
.pagination-bar{
    justify-content: center;
    .pagination-results{
        display: none;
    }
    .pagination{
        .page-item{
            &:first-child{
                margin-right: 70px;
                width: 100px;
                .page-link{
                    &::after{
                        content: "Anterior";
                        color: black;
                    }
                    span{
                        color: black;
                    }
                }
            }
            &:last-child{
                margin-left: 70px;
                width: 100px;
                .page-link{
                    &::before{
                        content: "Siguiente";
                        color: black;
                    }
                    span{
                        color: black;
                    }
                }
            }
            align-items: center;
            border: 1px solid var(--primary-purple, #4b0082);
            border-radius: 20px;
            display: flex;
            height: 35px;
            justify-content: center;
            width: 35px;
            &:hover{
                background-color: transparent;
            }
            &.active{
                background-color: var(--primary-purple, #4b0082);
                color: var(--white, #ffffff);
                .page-link{
                    color: var(--white, #ffffff);
                }
            }
        }
        .page-link{
            background-color: transparent;
            font-weight: 700;
            height: 35px;
            width: 35px;
            &:first-child{
                padding-right: 0px;
            }
            &:last-child{
                padding-left: 0px;
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }

        }

    }
}