text-title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black, #000000);
}
text-subtitle{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black, #000000);
}
text-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--black, #000000);
}